root = true

[*]
charset = utf-8

[src/**.{js, jsx, scss}]
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[public/**.{html, json}]
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true

[public/CNAME]
insert_final_newline = false
trim_trailing_whitespace = true